<div class='card'>
  <h4>Organizations</h4>

  <% unless @organizations.empty? %>  
    <ul>
      <% @organizations.each do |organization| %>
        <li><%= link_to organization.name, organization_path(organization) %></li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Create an Organization', new_organization_path %>
</div>

<div class='card'>
  <h4>Inventories</h4>

  <% unless @inventories.empty? %>
    <ul>
      <% @inventories.each do |inventory| %>
        <li>
          <% if inventory.owner_type == 'Organization' %>
            <%= link_to "#{inventory.owner.name} / #{inventory.name}", organization_inventory_path(inventory.owner, inventory) %>
          <% else %>
            <%= link_to inventory.name, user_inventory_path(current_user, inventory) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Create an Inventory', new_user_inventory_path(current_user) %>
</div>
